<div class="w-full px-6 py-2">

    <div class="mb-8 box-shadow-black border border-black bg-white">
        <div class="px-4 py-2 border-b border-black bg-violet-500">
            <h4 class="font-bold text-sm text-white">{{ page.record.display_name }}'s Details</h4>
        </div>

        <div class="w-full px-4 py-4">
            <table class="table-auto">
                <thead>
                    <th class="w-1/3 hidden"></th>
                    <th class="w-2/3 hidden"></th>
                </thead>
                <tbody>
                    {% for key, data in customer %}
                        <tr>
                            <td class="font-bold pr-8 py-1.5">{{ key }}</td>
                            <td>{{ data }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="box-shadow-black border border-black bg-white">
        <div class="px-4 py-2 border-b border-black bg-violet-500">
            <h4 class="font-bold text-sm text-white">{{ page.record.display_name }}'s Devices</h4>
        </div>
        
        <div class="w-full">
            <table class="w-full table-auto">
                <thead class="text-sm text-left text-stone-600 border-b border-black bg-stone-200">
                    <th class="pl-4 py-1.5">{{ devices.cols.primary }}</th>
                        
                    {% for header in devices.cols.headers %}
                        <th class="pl-4">{{ header }}</th>
                    {% endfor %}
                </thead>
                <tbody class="divide-y divide-black">
                    {% for row in devices.rows %}
                        <tr class="hover:bg-stone-100">
                            {% for data in row %}
                                {% if data is iterable %}
                                    <td class="pl-4 py-2.5"><a href="{{ data.link }}" class="hover:underline hover:text-violet-600">{{ data.data }}</a></td>
                                {% else %}
                                    <td class="pl-4 py-2.5">{{ data }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>