<div class="w-full px-2">
    {% if table.rows|length != 0 %}

        <div class="w-full flex flex-col justify-center align-middle items-center box-shadow-black border border-black bg-white">

        <table class="w-full table-auto">
            <thead class="text-sm text-left text-stone-600 border-b border-black bg-stone-200">
                <th class="pl-4 py-1.5">{{ table.cols.primary }}</th>
                    
                {% for header in table.cols.headers %}
                    <th class="pl-4">{{ header }}</th>
                {% endfor %}
            </thead>
            <tbody class="divide-y divide-black">
                {% for row in table.rows %}
                    <tr class="hover:bg-stone-100">
                        {% for data in row %}
                            {% if data is iterable %}
                                <td class="pl-4 py-2.5"><a href="{{ data.link }}" class="hover:underline hover:text-violet-600">{{ data.data }}</a></td>
                            {% else %}
                                <td class="pl-4 py-2.5">{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}

    <div class="w-full px-4 pt-2">
        <h3 class="font-bold text-lg text-stone-600">No records found.</h3>
        <p class="text-md text-stone-500">Is your database connection configured properly?</p>
    </div>

    {% endif %}
</div>