<div class="w-full mt-4 mb-10 flex flex-row justify-start align-middle items-center">
    {% if ticket.status == 0 %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md font-medium text-xs text-sky-500 border border-sky-300 bg-sky-100">Added</div>
        {% else %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md text-xs text-stone-500 border border-stone-300 bg-stone-100">Added</div>
    {% endif %}
    {% if ticket.status == 1 %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md font-medium text-xs text-sky-700 border border-sky-700 bg-sky-100 animate-pulse">Pre Testing</div>
        {% else %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md text-xs text-stone-500 border border-stone-300 bg-stone-100">Pre Testing</div>
    {% endif %}
    {% if ticket.status >= 2 %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md font-medium text-xs text-sky-700 border border-sky-700 bg-sky-100">In Progress</div>
        {% else %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md text-xs text-stone-500 border border-stone-300 bg-stone-100">In Progress</div>
    {% endif %}
    {% if ticket.status >= 3 %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md font-medium text-xs text-sky-500 border border-sky-300 bg-sky-100 animate-pulse">Post Testing</div>
        {% else %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md text-xs text-stone-500 border border-stone-300 bg-stone-100">Post Testing</div>
    {% endif %}
    {% if ticket.status >= 4 %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md font-medium text-xs text-sky-500 border border-sky-300 bg-sky-100">Completed</div>
        {% else %}
        <div class="w-1/5 mr-4 px-4 py-2 rounded-md text-xs text-stone-500 border border-stone-300 bg-stone-100">Completed</div>
    {% endif %}
</div>

<div class="w-full flex flex-row justify-center align-middle items-start">
    <div class="w-2/3 flex flex-col items-center">

        <div class="w-full shadow-sm border-x border-t border-stone-300 bg-white">
            <div class="w-full px-4 py-2 flex flex-row items-center border-b border-stone-300 bg-stone-200">
                <h4 class="font-medium text-xs text-stone-700">Notes</h4>
                <div class="flex-grow"></div>
                <button class="px-4 py-1 rounded-md font-medium text-xs text-stone-700 hover:text-stone-900 border border-stone-500 hover:border-stone-700 bg-transparent hover:bg-stone-300">New Note</button>
            </div>

            <div class="border-b border-stone-300">
                <div class="px-4 py-2 flex flex-col justify-center items-start">
                    <div class="w-full px-4 py-2 flex flex-row justify-between items-center">
                        <h6 class="font-medium text-stone-700 text-xs">Ben Moss</h6>
                        <h6 class="font-medium text-stone-700 text-xs">12:00 22/03/23</h6>
                    </div>
                    <div class="w-full px-4 py-2">
                        <p class="text-sm text-stone-900">
                            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="w-6"></div>

    <div class="w-1/3 px-4 flex flex-col items-center">
        <div class="w-full mb-8 shadow-sm border border-stone-300 bg-white">
            <div class="w-full px-4 py-2 flex flex-row justify-between items-center border-b border-stone-300 bg-stone-200">
                <h4 class="font-medium text-xs text-stone-700">Ticket Details</h4>

                <button _="" class="opacity-50 hover:opacity-90">
                    <img src="{{ globals.icons_url }}/png/note-pencil-duotone.png" class="h-4">
                </button>
            </div>

            <div class="px-4 py-2">
                <table class="table-auto w-full">
                    <thead>
                        <th class="w-1/3"></th>
                        <th class="w-2/3"></th>
                    </thead>
                    <tbody>
                        {% for key, data in ticket.details %}
                            <tr>
                                <td class="py-1 font-medium text-sm text-stone-700">{{ key }}</td>
                                <td class="text-sm text-stone-900">{{ data }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-full mb-8 shadow-sm border border-stone-300 bg-white">
            <div class="w-full px-4 py-2 flex flex-row justify-between items-center border-b border-stone-300 bg-stone-200">
                <img src="{{ globals.icons_url }}/png/arrow-square-out-duotone.png" class="mr-4 h-4">
                <a href="{{ customer.link }}" class="font-medium text-xs text-stone-700 hover:text-sky-500 hover:underline">Customer Details</a>

                <div class="flex-grow"></div>

                <button _="" class="opacity-50 hover:opacity-90">
                    <img src="{{ globals.icons_url }}/png/note-pencil-duotone.png" class="h-4">
                </button>
            </div>

            <div class="px-4 py-2">
                <table class="table-auto w-full">
                    <thead>
                        <th class="w-1/3"></th>
                        <th class="w-2/3"></th>
                    </thead>
                    <tbody>
                        {% for key, data in customer.details %}
                            <tr>
                                <td class="py-1 font-medium text-sm text-stone-700">{{ key }}</td>
                                <td class="text-sm text-stone-900">{{ data }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-full shadow-sm border border-stone-300 bg-white">
            <div class="w-full px-4 py-2 flex flex-row justify-start items-center border-b border-stone-300 bg-stone-200">
                <img src="{{ globals.icons_url }}/png/arrow-square-out-duotone.png" class="mr-4 h-4">
                <a href="{{ device.link }}" class="font-medium text-xs text-stone-700 hover:text-sky-500 hover:underline">Device Details</a>

                <div class="flex-grow"></div>

                <button _="" class="opacity-50 hover:opacity-90">
                    <img src="{{ globals.icons_url }}/png/note-pencil-duotone.png" class="h-4">
                </button>
            </div>

            <div class="px-4 py-2">
                <table class="table-auto w-full">
                    <thead>
                        <th class="w-1/3"></th>
                        <th class="w-2/3"></th>
                    </thead>
                    <tbody>
                        {% for key, data in device.details %}
                            <tr>
                                <td class="py-1 font-medium text-sm text-stone-700">{{ key }}</td>
                                <td class="text-sm text-stone-900">{{ data }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>