<!DOCTYPE html>
<html lang="en">
<head>
    <meta author="Benjamin Moss">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">

    <!-- Tailwind Stylesheet -->
    <link type="text/css" href="{{ globals.css_url }}/output.css" rel="stylesheet">

    <!-- Link favicon -->
    <link rel="icon" type="image/x-icon" href="{{ globals.favicon_url }}">

    <title>{{ page.title }}</title>
</head>
<body class="h-screen overflow-y-hidden bg-stone-100">

{% include "errors.html.twig" %}

<div class="h-full grid grid-rows-layout grid-cols-10 2xl:grid-cols-12">
    {% block navigation %}{% endblock %}

    {% block content %}{% endblock %}
</div>

{% if debug.enabled == true %}
    <div class="absolute bottom-0 left-0 w-full px-4 py-2 flex flex-row justify-center align-middle items-center">
        <p class="font-mono text-xs text-red-500">APP DEBUG MODE ENABLED, PHP {{ debug.phpversion }}</p>
    </div>
{% endif %}

</body>

<!-- HTMX -->
<script src="{{ globals.htmx_url }}"></script>

<!-- HyperScript -->
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>

</html>