<div class="sticky z-50 top-0 left-0 row-start-1 row-end-1 col-start-1 col-span-full flex flex-row justify-start align-middle items-center space-x-6 shadow-sm bg-green-500">
    
    <!-- Logo Container -->
    <div class="pl-6 pr-4">
        <h1 class="italic font-bold text-xl text-white">RSMS</h1>
    </div>

    <!-- Horizontal Navigation Container -->
    <div class="h-full flex flex-row justify-center align-middle items-center space-x-4">
        <a href="{{ globals.base_url }}/workshop/dashboard" class="h-full px-2 inline-flex items-center font-semibold text-sm text-white align-middle border-b-2 border-transparent hover:border-white">Dashboard</a>
        <a href="{{ globals.base_url }}/workshop/tickets" class="h-full px-2 inline-flex items-center font-semibold text-sm text-white align-middle border-b-2 border-transparent hover:border-white">Workshop</a>
        <a href="{{ globals.base_url }}/admin/settings" class="h-full px-2 inline-flex items-center font-semibold text-sm text-white align-middle border-b-2 border-transparent hover:border-white">Admin</a>
    </div>

    <div class="flex-grow"></div>

    <!-- Search Container -->
    <div class="h-full w-1/4">
        <input type="search" name="s_global" id="s_global" placeholder="Search resources..." class="form-input h-full w-full pl-6 text-sm text-white placeholder:text-white border-transparent focus:border-transparent bg-transparent hover:bg-green-700 focus:bg-green-700 focus:ring-transparent transition-all ease-in-out duration-100 bg-[url('http://localhost:8080/icons/magnifying-glass-duotone.svg')] bg-no-repeat bg-left bg-scroll focus:bg-none">
    </div>

    <div class="h-full pr-4 flex flex-row justify-center align-middle items-center space-x-4">

        <h3 class="font-semibold text-sm text-white">{{ user.info.first_name }} {{ user.info.last_name }}</h3>

        <button _="on click toggle .hidden on #user_menu" class="h-9 w-9 inline-flex flex-col justify-center items-center font-bold text-sm text-green-500 shadow-sm rounded-sm bg-white">{{ user.info.first_name|first }}{{ user.info.last_name|first }}</button>

    </div>

    <div id="user_menu" class="absolute top-14 right-4 rounded-sm shadow-sm border border-stone-300 bg-white hidden">
        
        <a href="#" class="inline-flex flex-row items-center w-full px-4 py-2.5 rounded-bl-md rounded-br-md font-medium text-sm text-stone-700 hover:underline hover:bg-stone-100">
            <svg class="mr-4 h-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M168,100a60,60,0,1,1-60-60A60,60,0,0,1,168,100Z" opacity="0.2"></path><path d="M144,157.68a68,68,0,1,0-71.9,0c-20.65,6.76-39.23,19.39-54.17,37.17a8,8,0,1,0,12.24,10.3C50.25,181.19,77.91,168,108,168s57.75,13.19,77.87,37.15a8,8,0,0,0,12.26-10.3C183.18,177.07,164.6,164.44,144,157.68ZM56,100a52,52,0,1,1,52,52A52.06,52.06,0,0,1,56,100Zm188.25,43.07-4.66-2.69a23.6,23.6,0,0,0,0-8.76l4.66-2.69a8,8,0,0,0-8-13.86l-4.67,2.7a23.92,23.92,0,0,0-7.58-4.39V108a8,8,0,0,0-16,0v5.38a23.92,23.92,0,0,0-7.58,4.39l-4.67-2.7a8,8,0,1,0-8,13.86l4.66,2.69a23.6,23.6,0,0,0,0,8.76l-4.66,2.69a8,8,0,0,0,8,13.86l4.67-2.7a23.92,23.92,0,0,0,7.58,4.39V164a8,8,0,0,0,16,0v-5.38a23.92,23.92,0,0,0,7.58-4.39l4.67,2.7a7.92,7.92,0,0,0,4,1.07,8,8,0,0,0,4-14.93ZM216,144a8,8,0,1,1,8-8A8,8,0,0,1,216,144Z"></path></svg>
            {{ user.info.first_name }}'s Settings
        </a>

        <a href="{{ globals.base_url }}/logout" class="inline-flex flex-row items-center w-full px-4 py-2.5 rounded-bl-md rounded-br-md font-medium text-sm text-stone-700 hover:underline hover:bg-stone-100">
            <svg class="mr-4 h-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M216,128l-40,40V88Z" opacity="0.2"></path><path d="M112,216a8,8,0,0,1-8,8H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h56a8,8,0,0,1,0,16H48V208h56A8,8,0,0,1,112,216Zm109.66-82.34-40,40A8,8,0,0,1,168,168V136H104a8,8,0,0,1,0-16h64V88a8,8,0,0,1,13.66-5.66l40,40A8,8,0,0,1,221.66,133.66Zm-17-5.66L184,107.31v41.38Z"></path></svg>
            Sign out
        </a>

    </div>

</div>