<div class="row-span-full col-span-2 flex flex-col justify-start align-middle items-start bg-stone-900">
    <div class="w-full my-4 px-4 pb-4">
        <h1 class="font-bold text-3xl text-white">RSMS</h1>
    </div>
    <div class="w-full mb-8">
        <a href="{{ globals.base_url }}/view/dashboard" class="block w-full px-4 py-2 font-medium text-white hover:bg-stone-700">Dashboard</a>
    </div>
    <div class="w-full mb-8">
        <h1 class="mb-2 px-4 font-medium text-xs text-stone-300">Workshop</h1>

        <a href="{{ globals.base_url }}/workshop/tickets" class="block w-full px-4 py-2 font-medium text-white hover:bg-stone-700">Tickets</a>
        <a href="{{ globals.base_url }}/workshop/customers" class="block w-full px-4 py-2 font-medium text-white hover:bg-stone-700">Customers</a>
        <a href="{{ globals.base_url }}/workshop/devices" class="block w-full px-4 py-2 font-medium text-white hover:bg-stone-700">Devices</a>
    </div>
    <div class="w-full">
        <h1 class="mb-2 px-4 font-medium text-xs text-stone-300">Administration</h1>

        <a href="{{ globals.base_url }}/admin/workshop/users" class="block w-full px-4 py-2 font-medium text-white hover:bg-stone-700">Users</a>
        <a href="{{ globals.base_url }}/admin/workshop/settings" class="block w-full px-4 py-2 font-medium text-white hover:bg-stone-700">Settings</a>
    </div>
    <div class="flex-grow"></div>
    <div class="w-full border border-red-600">
        #
    </div>
</div>